/* ==== step-inner */
.step-inner {
    background-image: url(../Assets/step-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 99px 0px 60px;
    background-position: center;
}

.step-boxes {
    max-width: 1054px;
    margin: 0 auto;
}

.step-box {
    border-radius: 53px;
    background-color: #6a1560;
    border: 1px solid #3e5e8f;
    padding: 57px 53px 30px 78px;
    max-width: 897px;
    margin-bottom: 99px;
    box-shadow: #fa1dc3 3px 3px 33px 0px;
}

.step-box .step-title {
    max-width: 303px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Assets/title-1-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 12px;
    margin-top: -94px;
}

.step-box .step-title h2 {
    font-size: 47px;
    letter-spacing: -1px;
    line-height: 23px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.step-box h4 {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 37px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    margin: 16px 0px 4px;
}

.step-box p {
    font-size: 23px;
    color: #ffffff;
    font-weight: normal;
}

.step-box.step-box2 {
    background-color: #333366;
    border: 1px solid #3e5e8f;
    margin-left: auto;
    text-align: end;
    box-shadow: #3333cc 3px 3px 33px 0px;
}

.step-box.step-box3 {
    background-color: #669900;
    border: 1px solid #3e5e8f;
    box-shadow: #669900 3px 3px 33px 0px;
}

.step-box.step-box2 .step-title {
    background-image: url(../Assets/title-bg2.png);
    margin-left: auto;
}

.step-box.step-box3 .step-title {
    background-image: url(../Assets/title-bg3.png);
}

.phase-box {
    background-image: url(../Assets/phase-bg1.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 100%;
    padding: 44px 25px;
    min-height: 500px;
}

.phase-2 .phase-box {
    background-image: url(../Assets/phase-bg2.png);
}

.phase-3 .phase-box {
    background-image: url(../Assets/phase-bg3.png);
}

.phase-4 .phase-box {
    background-image: url(../Assets/phase-bg4.png);
}

.phase-5 .phase-box {
    background-image: url(../Assets/phase-bg5.png);
}

.pase-box h4 {
    font-size: 34px;
    line-height: 24px;
    text-transform: uppercase;
    color: #66ccff;
    font-weight: 800;
}

.pase-box h6 {
    font-size: 20px;
    text-transform: uppercase;
    color: #66ccff;
    font-weight: 500;
    line-height: 24px;
    margin-top: 1rem;
    /* margin: 9px 0px 40px; */
    /* min-height: 48px; */
}

.pase-box p {
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 24px;
    color: #ffffff;
}

.phase-wrapper {
    max-width: 1417px;
    margin: 0 auto;
    grid-template-columns: 4fr 4fr 4fr 4fr 4fr;
    grid-gap: 30px;
    display: grid;
}

.arrow {
    text-align: center;
    margin-top: -30px;
    margin-bottom: 40px;
}

.box-divider {
    background-color: rgb(55, 138, 195, 0.80);
    height: 7px;
    width: 100%;
    margin-top: 35px;
    position: relative;
}

.section-wrapper-4 {
    background-image: url(../Assets/section-bg4.png);
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -240px;
    position: relative;
    z-index: 999;
}

.roadmap-sec {
    padding: 70px 0px ;
}


.roadmap_box{
  border: 2px solid #66ccff;
    border-radius: 16px;
    height: 350px;
    padding:20px 10px;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-pagination-bullet {
    background: #66ccff !important;
  }
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 10px !important;
  }
  .swiper-wrapper{
    height: 436px !important;
  }